/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@600&family=Poppins&family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

a {
  color: inherit;
}

.container {
  max-width: 1580px;
  width: 100%;
  padding: 0px 20px;
  margin: 0 auto;
}

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #1D1D1D;
}
body.locked {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: absolute;
  width: 100%;
  padding: 40px 0px;
  white-space: nowrap;
  background-color: transparent;
}
.header .container {
  position: absolute;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 31px;
}
.company__name {
  font-size: 24px;
}

.nav__burger {
  display: none;
}
.nav__burger span {
  display: block;
  width: 32px;
  height: 2px;
  background: #00052E;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.nav__burger.active span:nth-child(1) {
  -webkit-transform: translateY(11px) rotateZ(-45deg);
          transform: translateY(11px) rotateZ(-45deg);
}
.nav__burger.active span:nth-child(2) {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.nav__burger.active span:nth-child(3) {
  -webkit-transform: translateY(-11px) rotateZ(45deg);
          transform: translateY(-11px) rotateZ(45deg);
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

@media (max-width: 1024px) {
  .nav__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
    position: fixed;
    top: 45px;
    right: 30px;
    overflow: hidden;
    z-index: 30;
  }
  .nav__list {
    position: fixed;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    z-index: 29;
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .nav__list.active {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    background: url("../images/gradient.png") center no-repeat;
    background-size: cover;
    background-color: #fff;
  }
}
.welcome {
  background: url(../../images/welcome-block/111.svg) top center no-repeat;
  background-color: #FDF8EE;
  width: 100%;
  padding: 160px 0px;
  min-height: 100vh;
}
.welcome__container {
  height: 100vh;
}
.welcome__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.welcome__info {
  -webkit-box-flex: 40%;
      -ms-flex: 40% 1 0px;
          flex: 40% 1 0;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.welcome__title {
  font-size: 65px;
  white-space: nowrap;
  font-weight: 700;
  line-height: 135%;
}
.welcome__more {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 18px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 96px;
  background-color: #4d2c5e;
}
.welcome__more-text {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.welcome__cover {
  -webkit-box-flex: 50%;
      -ms-flex: 50% 0 0px;
          flex: 50% 0 0;
}
.welcome__cover img {
  width: 100%;
  height: 100%;
}

.text-highlighted {
  color: #FF7426;
}

.targets {
  background-color: #fff;
  -webkit-transform: translateY(-137px);
          transform: translateY(-137px);
}
.targets .container {
  position: relative;
  max-width: 1500px;
}
.targets__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 14px;
  background: #4D2C5E;
  padding: 70px 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.targets__background {
  position: absolute;
  width: 80%;
  height: 800px;
  top: 0px;
  left: 0;
  right: 0;
}
.targets__background img {
  position: absolute;
  top: -50px;
  left: 25%;
}

.target {
  width: 33%;
}
.target__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.target__icon {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.target__icon-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 23px;
}
.target__icon-inner img {
  width: 100%;
}
.target__title {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
  color: #fff;
}
.target__subtitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.6);
}

.subjects {
  padding: 99px 0px;
  background-color: #fff;
}
.subjects .container {
  position: relative;
}
.subjects__background {
  position: absolute;
  width: 100%;
}
.subjects__icon-lamp {
  position: relative;
  top: -80px;
  left: -80px;
}
.subjects__icon-arrow {
  position: absolute;
  top: -90px;
  right: -80px;
}
.subjects__title {
  font-size: 50px;
  font-family: "Jost", sans-serif;
  text-align: center;
  font-weight: 600;
  line-height: 140%;
  color: #000;
  margin-bottom: 68px;
}
.subjects__list {
  padding: 20px;
}
.subjects__list .flickity-viewport {
  width: 100%;
  height: 550px !important;
}
.subjects__list .flickity-prev-next-button {
  display: none;
}
.subjects__list .carousel-cell {
  margin-right: 1%;
}
.subjects__list .flickity-page-dots {
  left: 0;
}

.subject {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  width: 32.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 13px;
  border-radius: 14px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.subject__body {
  width: 100%;
  padding-bottom: 45px;
  margin: 0 5px;
}
.subject__cover {
  width: 100%;
  height: 238px;
  color: #fff;
  margin-bottom: 20px;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
}
.subject__cover-inner {
  width: 100%;
  height: 100%;
  background-color: #FDF8EE;
  text-align: right;
}
.subject__cover-inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.subject__info::after {
  content: url(../images/subject/line.svg);
  display: block;
  width: 100%;
  overflow: hidden;
}
.subject__tag-n-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3px;
}
.subject__tag {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #acacac;
}
.subject .rating__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
}
.subject .rating .star-active path {
  fill: rgb(255, 161, 53);
}
.subject__name {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #000;
  font-weight: 500;
  margin-bottom: 39px;
}
.subject__sign-in {
  position: relative;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  left: 0;
  right: 0;
  -webkit-transform: translateY(75%);
          transform: translateY(75%);
  padding: 12px 24px;
  background-color: rgb(255, 116, 38);
  border-radius: 96px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.subject__sign-in:hover {
  background-color: rgb(255, 115, 33);
  -webkit-transform: scale(1.05) translateY(75%);
          transform: scale(1.05) translateY(75%);
}
.subject__sign-in span {
  font-size: 19px;
  font-weight: 500;
  line-height: 29.3px;
  color: #fff;
}

@media (max-width: 1024px) {
  .subject {
    width: 98% !important;
  }
  .subject__body {
    width: 100%;
  }
}
.advantages {
  background-color: #FDF8EE;
}
.advantages__content {
  position: relative;
  z-index: 10;
  padding: 42px 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.advantages__column {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.advantages__info {
  padding-top: 16px;
}
.advantages__title {
  color: #050c26;
  font-size: 48px;
  font-weight: 800;
  line-height: 135%;
  margin-bottom: 84px;
}
.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 34px;
}
.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.advantage__icon {
  width: 102px;
  height: 102px;
  padding: 25px;
  background: rgb(77, 44, 94);
  background: linear-gradient(45deg, rgb(77, 44, 94) 0%, rgb(77, 44, 94) 100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 23px;
}
.advantage__icon:hover {
  background: rgb(47, 43, 145);
  background: linear-gradient(45deg, rgb(47, 43, 145) 0%, rgb(95, 58, 115) 38%, rgb(95, 18, 135) 100%);
}
.advantage__info {
  -webkit-box-flex: 60%;
      -ms-flex: 60% 0 1;
          flex: 60% 0 1;
}
.advantage__title {
  font-size: 22px;
  font-weight: 500;
  line-height: 171%;
}

.feedbacks {
  padding: 134px 0px;
  background-color: #f5f5f5;
}
.feedbacks .container {
  max-width: 1340px;
  position: relative;
}
.feedbacks__background {
  width: 100%;
  position: absolute;
}
.feedbacks__background .gradient-left {
  position: absolute;
  top: -200px;
  left: -80%;
}
.feedbacks__title {
  font-size: 50px;
  font-family: "Jost", sans-serif;
  text-align: center;
  font-weight: 600;
  line-height: 140%;
  color: #000;
  margin-bottom: 85px;
}
.feedbacks__list .flickity-viewport {
  height: 320px !important;
}
.feedbacks__list .carousel-cell {
  margin-right: 4%;
}
.feedbacks__list .flickity-prev-next-button {
  display: none;
}
.feedback {
  max-width: 417px;
  width: 30%;
  min-height: -webkit-min-content;
  min-height: -moz-min-content;
  min-height: min-content;
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
}
.feedback__content {
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.feedback__message {
  color: #ACACAC;
  font-size: 19px;
  line-height: 156.5%;
  letter-spacing: 0.38px;
  margin-bottom: 24px;
}
.fb-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.fb-author__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.fb-author__name {
  font-size: 17px;
  font-weight: 500;
  color: #353535;
  line-height: 156.5%;
  letter-spacing: 0.34px;
}
.fb-author__status {
  font-size: 13px;
  color: #8e8e8e;
  line-height: 156%;
  letter-spacing: 0.26px;
}

@media (max-width: 1024px) {
  .feedback {
    width: 100%;
  }
}
.tutors {
  background-color: #f5f5f5;
  padding: 102px 0px;
}
.tutors .container {
  position: relative;
}
.tutors__background {
  position: absolute;
  width: 100%;
}
.tutors__background .gradient-right {
  position: relative;
  top: -700px;
  right: -80%;
}
.tutors__icon-arrow {
  position: relative;
  top: -120px;
  left: -80px;
}
.tutors__icon-planet {
  position: absolute;
  top: -70px;
  right: -80px;
}
.tutors__title {
  font-size: 50px;
  font-family: "Jost", sans-serif;
  text-align: center;
  font-weight: 600;
  line-height: 140%;
  color: #000;
  margin-bottom: 102px;
}
.tutors__list .flickity-viewport {
  height: 500px !important;
}
.tutors__list .carousel-cell {
  margin-right: 4%;
}
.tutors__list .flickity-prev-next-button {
  display: none;
}
.tutor {
  max-width: 490px;
  width: 30%;
  height: 490px;
  background-color: #fff;
  border-radius: 14px;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
.tutor__content {
  padding: 14px 13px;
}
.tutor__picture {
  width: 100%;
  height: 238px;
  margin-bottom: 15px;
  border-radius: 15px;
  overflow: hidden;
}
.tutor__picture-inner {
  width: 100%;
  height: 100%;
  background-color: #FDF8EE;
  text-align: right;
}
.tutor__picture-inner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tutor__bio {
  margin-bottom: 22px;
}
.tutor__name {
  font-size: 20px;
  font-weight: 500;
}
.tutor__status {
  font-size: 16px;
  font-weight: 500;
  color: #868686;
  margin-bottom: 15px;
}
.tutor__quote {
  font-size: 18px;
  font-weight: 400;
  line-height: 137.5%;
}
.tutor__disciplines-n-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tutor__disciplines {
  font-size: 18px;
  font-weight: 500;
  color: #ff7426;
}
.t-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.t-socials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
  background: #F9F9F9;
}
.t-socials__item img {
  width: 25px;
  height: 25px;
}

@media (max-width: 1024px) {
  .tutor {
    width: 100%;
  }
}
.service {
  background-color: #F5F5F5;
  padding: 100px 0px;
}
.service .container {
  max-width: 1600px;
}
.service__title {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 78px;
}
.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.service__list .flickity-viewport {
  width: 100%;
  height: 370px !important;
}
.service__list .carousel-cell {
  margin-right: 4%;
}
.service__list .flickity-prev-next-button {
  display: none;
}
.service .plan-group {
  background-color: #861657;
  background-image: linear-gradient(326deg, #861657 0%, #ffa69e 74%);
}
.service .plan-individual {
  background-color: #f8ceec;
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
}
.service .plan-club {
  background-color: #21d190;
  background-image: linear-gradient(315deg, #21d190 0%, #d65bca 74%);
}
.service .plan-club .plan__price {
  font-size: 30px;
}

.plan {
  max-width: 498px;
  width: 30%;
  height: 278px;
  position: relative;
  padding: 102px 0px;
  overflow: hidden;
  border-radius: 25px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.plan:hover .plan__title {
  top: -100%;
}
.plan:hover .plan__price {
  bottom: 0;
}
.plan__title {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  font-size: 30px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.plan__price {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  bottom: -100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 36px;
  font-weight: 600;
}
.plan__price-45 {
  color: #FF7426;
  padding: 0px 10px;
}
.plan__price-90 {
  color: #4D2C5E;
  padding: 0px 10px;
}

.plan-expander {
  max-width: 498px;
  width: 30%;
  height: 278px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 102px 0px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}
.plan-expander__title {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  padding: 0px 10px;
}
.plan-expander__icon {
  position: absolute;
  bottom: -35%;
  right: 0%;
}

@media (max-width: 1024px) {
  .plan, .plan-expander {
    width: 100%;
  }
}
.contact {
  background-color: #f5f5f5;
  padding: 200px 0px 100px;
  height: 700px;
}
.contact .container {
  position: relative;
  overflow: hidden;
  background-color: #4d2c5e;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 14px;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.contact .container:hover, .contact .container:focus {
  -webkit-transform: scale(0.95, 0.95);
          transform: scale(0.95, 0.95);
}
.contact .container:hover .contact__content, .contact .container:focus .contact__content {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  padding: 94px 0px 150px;
}
.contact__content {
  z-index: 10;
  position: relative;
  padding: 94px 0px 187px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}
.contact__background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
}
.contact .decoration__circles-left {
  position: absolute;
  top: -35%;
  left: -70px;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.contact .decoration__circles-right {
  position: absolute;
  top: -30%;
  right: -65px;
}
.contact .decoration__arrow {
  position: absolute;
  bottom: 5%;
  left: 10%;
}
.contact .decoration__arrow path {
  fill: #FF7426;
}
.contact .decoration__lamp {
  position: absolute;
  bottom: 5%;
  right: 10%;
}
.contact .decoration__gradient-left {
  position: absolute;
}
.contact .decoration__gradient-right {
  position: absolute;
  bottom: -25%;
  left: 0;
  right: 0;
}
.contact__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 144.5%;
  letter-spacing: 0.8px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #fff;
  margin-bottom: 35px;
}
.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact__row .link-sign {
  position: relative;
  right: -20px;
  font-size: 40px;
  color: #6F577B;
  font-family: "Poppins", sans-serif;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}
.contact__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 20px;
  border-radius: 96px;
  background-color: inherit;
  border: 1px solid #FFA135;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.contact__btn:hover {
  background-color: #FF7426;
}
.contact__btn span {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
}

.footer {
  background-color: #FDF8EE;
}
.footer .container {
  max-width: 100%;
}
.footer__content {
  max-width: 1580px;
  margin: 0 auto;
  padding: 31px 0px 117px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 67px;
}
.footer__copyright {
  border-top: 1px solid #B7B7B7;
  padding: 28px 15px 34px;
  text-align: center;
  font-size: 19px;
  color: #606060;
}

.ftr-column__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  margin-bottom: 21px;
}
.ftr-column__name {
  font-size: 24px;
  font-weight: 700;
  line-height: 135%;
  color: #1d1d1d;
}
.ftr-column__our-task {
  color: #606060;
  max-width: 80%;
}
.ftr-column__title {
  font-size: 25px;
  font-weight: 600;
  color: #00052E;
  margin-bottom: 29px;
}
.ftr-subnav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 26px;
}
.ftr-subnav__item {
  color: #606060;
  font-size: 19px;
  white-space: nowrap;
}

@media (max-width: 1480px) {
  .header .company__name {
    font-size: 20px;
  }
  .welcome__title {
    font-size: 55px;
  }
  .targets {
    padding: 30px 0px;
  }
  .targets .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .targets__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
  }
  .target {
    width: 100%;
  }
  .target__icon-inner {
    width: 64px;
    height: 64px;
  }
  .target__icon-inner img {
    width: 90%;
  }
  .target__title {
    font-size: 20px;
  }
  .target__subtitle {
    font-size: 15px;
  }
}
@media (max-width: 900px) {
  .welcome__title {
    font-size: 50px;
    white-space: wrap;
  }
}
@media (max-width: 767px) {
  .welcome {
    padding: 160px 0px;
  }
  .welcome__container {
    min-height: 100vh;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .welcome__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 50px;
  }
  .welcome__info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  .welcome__cover {
    -webkit-box-flex: 1;
        -ms-flex: auto 0 1;
            flex: auto 0 1;
    width: 50%;
  }
  .welcome__title {
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
  }
  .welcome__more {
    padding: 16px 24px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .welcome__more::after {
    display: block;
  }
  .welcome__more-text {
    font-size: 20px;
  }
  .targets {
    padding: 15px 0px;
  }
  .targets__content {
    width: 80%;
    gap: 20px;
  }
  .target__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 15px;
  }
  .target__icon-inner {
    width: 48px;
    height: 48px;
  }
  .target__title {
    margin-bottom: 10px;
  }
  .contact .container {
    width: 90%;
  }
  .contact .decoration img:not(.decoration__gradient-left, .decoration__gradient-right) {
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  .contact__content {
    width: 90%;
    margin: 0 auto;
  }
  .contact__title {
    font-size: 36px;
  }
  .contact__btn {
    padding: 6px 10px;
  }
  .contact__btn span {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .welcome__title {
    font-size: 40px;
  }
  .welcome__more-text {
    font-size: 16px;
  }
  .welcome__cover {
    width: 70%;
  }
  .subjects__title, .feedbacks__title, .tutors__title, .contact__title, .advantages__title {
    font-size: 36px;
  }
  .contact__content {
    width: 100%;
    padding-top: 100px;
  }
  .contact__title {
    font-size: 28px;
  }
  .contact__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__btn {
    padding: 10px 16px;
  }
}
@media (max-width: 1279px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 80px;
  }
}
@media (max-width: 1023px) {
  .advantages__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantages__title {
    text-align: center;
  }
  .footer .container {
    padding: 40px 0px;
  }
  .footer__content {
    padding: 37px 0px;
  }
  .footer__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__item {
    width: 100%;
  }
  .ftr-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ftr-column__title {
    font-size: 40px;
  }
  .ftr-column__name {
    font-size: 40px;
  }
  .ftr-column__our-task {
    font-size: 25px;
    text-align: center;
  }
  .ftr-subnav__item {
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .plan__price {
    font-size: 25px;
  }
  .ftr-column__title {
    font-size: 26px;
  }
  .ftr-column__name {
    font-size: 26px;
  }
  .ftr-column__our-task {
    font-size: 16px;
  }
  .ftr-subnav__item {
    font-size: 18px;
  }
}